#bookingForm{
    padding-top: 5vh;
    padding-left: 5vw;
    width: 100%;
    
    #labelName{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        // color: $dark-blue;
        color: black;
    }

    #input{
        font-family: Arial, Helvetica, sans-serif;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 5vh;
        border: 1px solid;
        border-radius: 5px;
        width: 30vw;
    }

    #submit{
        margin: 2vh 1vw;
        padding: 5px 2px;
        width: 15vw;
        text-align: center;
        // background-color: $dark-blue;
        background-color: rgba(32, 32, 153, 0.952);
        border-radius: 10px;
        color: #ffffff;

        &:hover {
            font-weight: 600;
            background-color: rgb(255, 255, 255);
            color: black;
            // color: $dark-blue;
            border: 2px solid;
        }
    }
}